[submodule "deps/PTEditor"]
	path = deps/PTEditor
	url = https://github.com/ThijsRay/PTEditor.git
[submodule "deps/evsets"]
	path = deps/evsets
	url = https://github.com/ThijsRay/evsets
[submodule "deps/prune-plumtree"]
	path = deps/prune-plumtree
	url = https://github.com/ThijsRay/Prune-PlumTree---Finding-Eviction-Sets-at-Scale
